name: Close inactive issues
on:
  schedule:
    - cron: "30 1 * * *"

permissions:
  issues: write
  pull-requests: write

jobs:
  close-issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@5bef64f19d7facfb25b37b414482c7164d639639  # v9
        with:
          days-before-issue-stale: 60
          days-before-issue-close: 21
          stale-issue-label: "stale"
          stale-issue-message: "This issue is stale because it has been open for 60 days with no activity."
          close-issue-message: "This issue was closed because it has been inactive for 21 days since being marked as stale."
          days-before-pr-stale: -1
          days-before-pr-close: -1
          any-of-labels: "bug,Bug"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
