name: Manual Desktop Bundle (Unsigned)

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch name to bundle app from'
        required: true
        type: string

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ inputs.branch }}
  cancel-in-progress: true

jobs:
  bundle-desktop-unsigned:
    uses: ./.github/workflows/bundle-desktop.yml
    permissions:
      id-token: write
      contents: read
    with:
      signing: false
      ref: ${{ inputs.branch }}
